@font-face {
    font-family: BubbleGums;
    src: url(fonts/BUBBLEGUMS.TTF);
}

@font-face {
    font-family: StreetArt;
    src: url(fonts/FromStreetArt.woff);
}

@font-face {
    font-family: Qwibble;
    src: url(fonts/GWIBBLE_.TTF);
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url(./images/Landscape.jpg);
    background-position: center;
    background-size:cover;
    height: 100vh;
}

.modal{
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
    background-color: white;
    width: 20%;
    height: max-content;
    font-family: Qwibble;

}

.modal-content p{
    font-size: 30px;
    margin: 0;
}
.modal-content h1{
    margin: 10px 0;
    font-size: 65px;
}

.rounds-input{
    width: 20%;
    font-size: 20px;
    text-align: center;
}

.name-input{
    width: 60%;
    font-size: 20px;

    text-align: center;
}

.button {
    margin: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color: transparent;

}
.start-button:hover{
    background-color: grey;
    transition: 0.5s;
}


.game{
    visibility:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    height: 80dvh;
    width: 80dvh;
    margin: auto;
    border: solid black;
    border-radius: 5px;
    background: url(./images/TheCat.jpg);
    background-position: center;
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1{
    font-size: 70px;
    font-family: BubbleGums;
    text-align: center;
}

.status{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner{
    display: flex;
    align-items: center;
    width: 90%;
    height: 30px;
    font-family: BubbleGums;
    font-size: 20px;
}


.score{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    font-family: Qwibble;
}



.score-computer, .score-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px;
    margin: 2%;
    font-size: 30px;
    overflow: hidden;
    padding: 10px;

}

.score-computer h2, .score-player h2{
    margin: 0;
    padding: 0;

}

.score-computer h3, .score-player h3{
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.fa-regular{
    font-size: 40px;
}




.round-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}




.round-status > h2, h3{
    font-size: 56px;
}

.moves{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}

.move-button{
    font-size: 60px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;

}

.move-button .fa-regular{
    font-size: 60px;
}


#scissors{
    transform: rotate(90deg);
}